block header
  header
    div
      div#private-header
        h1 player: #{username}
        .header-div-btn

          if games.length > 0 && currentPage !== 'game'
            form(action="/game" method="get")
              div
                input(class="header-btn" type="submit" value="Current game")

          if currentPage !== 'home'
            form(action="/" method="get")
              div
                input(class="header-btn" type="submit" value="Home")

          if currentPage !== 'history'
            form(action="/history" method="get")
              div
                input( class="header-btn" type="submit" value="History")

          form(action="/auth/logout" method="post")
            div
              input(id="logout-btn" class="header-btn" type="submit" value="Sign out")