block rules
  div#rules
    #rules-top 
      h1 Welcome to the Mastermind Game!
    #rules-bottom
      #rules-left
    
        h2 About the game
        p.para-rules 3 levels of complexity
        p.para-rules At the start of the game, the computer will randomly select a pattern of 4 different numbers from a total of 8 different numbers from 0 to 7
        p.para-rules You will have several attempts to guess the combination
        p.para-rules At the end of each guess, computer will provide feedback
      
      #rules-right
        h2 Levels
        <p class="para-rules"><span class="rules-level-desc">Easy Level:</span> 4-digit number, 10 attempts and only 3 hints</p>
        <p class="para-rules"><span class="rules-level-desc">Medium Level:</span> 4-digit number, 10 attempts and only 3 hints</p>
        <p class="para-rules"><span class="rules-level-desc">Hard Level:</span> 4-digit number, 10 attempts and only 3 hints</p>
        <p class="para-rules"><span class="rules-level-desc">** </span><i> If a number to guess contains only 1 or 2 unique digits, there will be only 1 hint</i></p>

